<!DOCTYPE html>
<html lang="en">

<body>
    <!-- <div ng-if="character" class="flex flex-col items-center">

        <img ng-src="{{character.image}}" class="rounded-xl w-60 mb-4" />

        <h1 class="text-3xl font-bold mb-2">{{character.name}}</h1>

        <p class="text-gray-400 mb-4">
            {{character.status}} • {{character.species}} • {{character.gender}}
        </p>

        <button ng-click="toggleFav(character)" class="px-5 py-2 rounded-lg mb-6"
            ng-class="isFav(character.id) ? 'bg-red-500' : 'bg-gray-600'">
            ❤ Favorito
        </button>

        <div class="bg-gray-800 rounded-xl p-4 w-full max-w-lg">
            <p><strong>Origen:</strong> {{character.origin.name}}</p>
            <p><strong>Ubicación:</strong> {{character.location.name}}</p>
            <p><strong>Episodios:</strong> {{character.episode.length}}</p>
        </div>
    </div> -->
    descripcion
</body>


</html>